<!DOCTYPE html>
<html lang="es-co">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipos</title>
    <link rel="stylesheet" href="/css/Equipos.css">
    <script src="https://kit.fontawesome.com/3d7a846b01.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.2/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body id="body" style="max-height: 100vh; overflow-y: scroll;">
    <header>
        <div class="icon__menu">
            <i class="fas fa-bars" id="btn_open"></i>
        </div>


    </header>

    <div class="menu__side" id="menu_side">

        <div class="options__menu"> 

            <a href="/Equipos.html" class="selected" >
                <div class="option">
                    <i class="fas fa-home" title="Inicio"></i>
                    <h4>Dispositivos</h4>
                </div>
            </a>

            <a href="/Usuarios.html">
                <div class="option">
                    <i class="fa-solid fa-cloud"></i>
                    <h4>Usuarios</h4>
                </div>
            </a>
            
            <a href="/Prestamos.html">
                <div class="option">
                    <i class="fa-solid fa-database"></i>
                    <h4>Prestamos</h4>
                </div>
            </a>

            <a href="/Sanciones.html">
                <div class="option">
                    <i class="fa-solid fa-code"></i>
                    <h4>Sanciones</h4>
                </div>
            </a>

            <a href="#">
                <div class="option">
                    <i class="fa-solid fa-users"></i>
                    <h4>Contacto</h4>
                </div>
            </a>

            <a href="#">
                <div class="option">
                    <i class="fa-solid fa-arrows-rotate"></i>
                    <h4>Nosotros</h4>
                </div>
            </a>

            <a href="#">
                <div class="option">
                    <i class="fa-solid fa-plus"></i>
                    <h4>Nosotros</h4>
                </div>
            </a>

        </div>

    </div>


    <section class="cont">

        <div class="contenedor1">
            <h1>Lista de dispositivos en el centro</h1>
        </div>
        
        <div class="contenedor2">    
            <div>
                <table id="tabla1">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Dispositivo</th>
                            <th>Modelo</th>
                            <th>Color</th>
                            <th>Serial</th>
                            <th>Estado</th>
                            <th>Especialidad</th>
                        </tr>
                    </thead>
                    <tbody id="tabla1-body"></tbody>
                </table>
            </div>
        </div>

        <div class="contenedor3">

            <h1>Insertar Equipo</h1>

            <form action="" id="formulario">
            
                <div class="mb-3">
                    <select class="form-control" name="tipo_de_equipo" id="equi_tipo" onchange="showOtherTipoField()">
                        <option value="" selected>Tipo</option>
                        <option value="portatil">Portátil</option>
                        <option value="video_beam">Video Beam</option>
                        <option value="cable_hdmi">Cable HDMI</option>
                        <option value="Otro">Otro</option>
                    </select>
                </div>
            
                <div class="mb-3" id="otro_tipo_div" style="display: none;">
                    <input type="text" class="form-control" name="otro_tipo_de_equipo" id="otro_tipo_de_equipo" placeholder="Ingrese otro Tipo">
                </div>
            
                <script>
                    function showOtherTipoField() {
                        var selectedValue = document.getElementById("equi_tipo").value;
                        var otroTipoDiv = document.getElementById("otro_tipo_div");
            
                        if (selectedValue === "Otro") {
                            otroTipoDiv.style.display = "block";

                            
                        } else {
                            otroTipoDiv.style.display = "none";
                        }
                    }
                </script>

                <div class="mb-3">
                    <select class="form-control" name ="modelo de equipo" id="equi_modelo">
                        <option value="" selected>Modelo</option>
                        <option value="Hewelt Packard">Hewelt Packard</option>
                        <option value="Lenovo">Lenovo</option>
                        <option value="HP">HP</option>
                    </select>
                </div>





                <div class="mb-3">
                    <select class="form-control" name="color de equipo" id="equi_color">
                        <option value="" selected>Color</option>
                        <option value="Gris">Gris</option>
                        <option value="Negro">Negro</option>

                    </select>
                   
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="equi_serial" name="serial de equipo" placeholder="Serial">
                </div>
                <div class="mb-3">
                    <select class="form-control" name="Estado del equipo" id="equi_estado">
                        <option value="" selected>Estado</option>
                        <option value="Activo">Activo</option>
                        <option value="Inactivo">Inactivo</option>
                    </select>
                </div>
                <div class="mb-3">
                    <select class="form-control" name="Especialidad del equipo" id="equi_especialidad">
                        <option value="" selected>Especialidad</option>
                        <option value="ADSO">ADSO</option>
                        <option value="ADSI">ADSI</option>
                        <option value="CISCO 8.1">CISCO 8.1</option>
                        <option value="TAURUS">TAURUS</option>
                    </select>

                </div>
                <div class="mb-3">
                    <button type="button" id="Agregar" class=" btn btn-primary w-100 fs-5 mb-3">Insertar Equipo</button>
                </div>
            </form>
        </div>
        
        <div class="contenedor4">
            <h1>Actualizar Equipo</h1>
            <form id="formulario-actualizar">
                <div class="mb-3">
                    <input type="text" class="form-control" id="equi_id_actualizar" name="equi_id_actualizar" placeholder="ID del Equipo">
                </div>

                <div class="mb-3">
                    <select class="form-control" name="equi_tipo_actualizar" id="equi_tipo_actualizar">
                        <option value="" selected>Tipo</option>
                        <option value="portatil">Portatil</option>
                        <option value="video_beam">Video Beam</option>
                        <option value="cable_hdmi">Cable HDMI</option>
                    </select>
                    
                    
                </div>

                <div class="mb-3">
                    <select class="form-control" name="equi_modelo_actualizar" id="equi_modelo_actualizar">
                        <option value="" selected>Modelo</option>
                        <option value="Hewelt Packard">Hewelt Packard</option>
                        <option value="Lenovo">Lenovo</option>
                        <option value="HP">HP</option>
                    </select>
                </div>

                <div class="mb-3">
                    <input type="text" class="form-control" id="equi_color_actualizar" name="equi_color_actualizar" placeholder="Color">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="equi_serial_actualizar" name="equi_serial_actualizar" placeholder="Serial">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="equi_estado_actualizar" name="equi_estado_actualizar" placeholder="Estado">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="equi_especialidad_actualizar" name="equi_especialidad_actualizar" placeholder="Especialidad">
                </div>
                <div class="mb-3">
                    <button type="button" id="ActualizarEquipo" class="btn btn-primary w-100 fs-5 mb-3">Actualizar Equipo</button>
                </div>
            </form>
        </div>

        <div class="contenedor5">
            <h1>Eliminar Equipo</h1>
        
            <label for=""><input type="text" id="codigo_equipo" name="codigo_equipo" placeholder="Código del Equipo"></label>
            <button type="button" id="EliminarEquipo" class="btn btn-danger w-100 fs-5 mb-3">Eliminar</button>
        </div>
        
        <div class="contenedor6">

            <h1>Buscar Equipo</h1>

            <label for=""><input type="text" id="id_equipoo" name="id_equipoo" placeholder="ID del Equipo"></label>
            <button type="button" id="BuscarEquipo" class="btn btn-danger w-100 fs-5 mb-3">Buscar</button>
            
        </div>
        
        
    </section>


   


 




   
    <script src="js/script.js"></script>
    <script src="js/Metodos-Equipos.js"></script>
</body>
</html>