<!DOCTYPE html>
<html lang="es-co">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prestamos</title>
    <link rel="stylesheet" href="/css/Prestamos.css">
    <script src="https://kit.fontawesome.com/3d7a846b01.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.2/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="ruta/al/archivo/jquery.min.js"></script>

</head>
<body id="body" style="max-height: 100vh; overflow-y: scroll;">
    <header>
        <div class="icon__menu">
            <i class="fas fa-bars" id="btn_open"></i>
        </div>
    </header>

    <div class="menu__side" id="menu_side">
        <div class="options__menu">	

            <a href="/Equipos.html">
                <div class="option">
                    <i class="fas fa-home" title="Inicio"></i>
                    <h4>Dispositivos</h4>
                </div>
            </a>
            <a href="/Usuarios.html">
                <div class="option">
                    <i class="fa-solid fa-cloud"></i>
                    <h4>Usuarios</h4>
                </div>
            </a>
            <a href="/Prestamos.html" class="selected">
                <div class="option">
                    <i class="fa-solid fa-database"></i>
                    <h4>Prestamos</h4>
                </div>
            </a>
            <a href="/Sanciones.html">
                <div class="option">
                    <i class="fa-solid fa-code"></i>
                    <h4>Sanciones</h4>
                </div>
            </a>
            <a href="#">
                <div class="option">
                    <i class="fa-solid fa-users"></i>
                    <h4>Contacto</h4>
                </div>
            </a>
            <a href="#">
                <div class="option">
                    <i class="fa-solid fa-arrows-rotate"></i>
                    <h4>Nosotros</h4>
                </div>
            </a>
            <a href="#">
                <div class="option">
                    <i class="fa-solid fa-plus"></i>
                    <h4>Nosotros</h4>
                </div>
            </a>
        </div>
    </div>

    <section class="cont">
        <div class="contenedor1">
            <h1>Lista de préstamos</h1>
        </div>
        <div class="contenedor2">
            <div>
                <!-- Creación de tabla de datos -->
                <table id="tabla1">
                    <thead> 
                        <tr>   
                            <th>ID prestamo</th>
                            <th>Fecha de Entrega</th>
                            <th>Hora de Entrega</th>
                            <th>Tiempo Límite</th>
                            <th>Observaciones de Entrega</th>
                            <th>Equipo ID</th>
                            <th>Documento Usuarios</th>
                        </tr>
                    </thead>
                    <tbody id="tabla1-body"></tbody>
                </table>
                <!-- Final de la tabla -->
            </div>
        </div>
        <div class="contenedor3">
            <h1>InsertarPrestamos</h1>  
            <form id="agregarPrestamoForm">
                <!-- Los campos para ingresar los datos del préstamo -->
                <input type="date" id="fechaEntrega" placeholder="Fecha de entrega" required>
                <input type="text" id="horaEntrega" placeholder="Hora de entrega" required>
                <input type="text" id="tiempoLimite" placeholder="Tiempo límite" required>
                <input type="text" id="observacionesEntrega" placeholder="Observaciones de entrega" required>
                <input type="text" id="equipoId" placeholder="ID del equipo" required>
                <input type="text" id="usuarioDocumento" placeholder="Documento del usuario" required>
                <button type="submit" id="AgregarPrestamo">Agregar préstamo</button>
            </form>
            

        </div>

        <div class="contenedor4">
            <h1>ActualizarPrestamos</h1>  

            <form id="agregarPrestamoForm">
                <input type="date" id="fechaEntrega" placeholder="Fecha de entrega" required>
                <input type="text" id="horaEntrega" placeholder="Hora de entrega" required>
                <input type="text" id="tiempoLimite" placeholder="Tiempo límite" required>
                <input type="text" id="observacionesEntrega" placeholder="Observaciones de entrega" required>
                <input type="text" id="equipoId" placeholder="ID del equipo" required>
                <input type="text" id="usuarioDocumento" placeholder="Documento del usuario" required>
                <button type="submit" id="AgregarPrestamo">Agregar préstamo</button>
            </form>

        </div>

        <div class="contenedor5">
            <label for="">
                <h1>Buscar préstamo</h1>
                <input type="text" id="pres_idddd" name="pres_id" placeholder="ID del préstamo">
            </label>
            <button type="button" id="BuscarPrestamo" class="btn btn-danger w-100 fs-5 mb-3">Buscar</button>
        </div>

        <div class="contenedor6">
            <h1>Eliminar el prestamo</h1><input type="text" id="id_prestamoo" name="id_prestamoo" placeholder="ID del préstamo"></label>
            <button type="button" id="EliminarPrestamo" class="btn btn-danger w-100 fs-5 mb-3">Eliminar Prestamo</button>
        </div>
    </section>

    <script src="js/script.js"></script>
    <script src="/js/Metodos-Prestamos.js"></script>
</body>
</html>
