<!DOCTYPE html>
<html lang="es-co">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sanciones</title>
    <link rel="stylesheet" href="/css/Sanciones.css">
    <script src="https://kit.fontawesome.com/3d7a846b01.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.2/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="ruta/al/archivo/jquery.min.js"></script>
</head>
<body id="body" style="max-height: 100vh; overflow-y: scroll;">
    
    <header>
        <div class="icon__menu">
            <i class="fas fa-bars" id="btn_open"></i>
        </div>

        </div>

    </header>

    <div class="menu__side" id="menu_side">

        <div class="options__menu">	

            <a href="/Equipos.html"  >
                <div class="option">
                    <i class="fas fa-home" title="Inicio"></i>
                    <h4>Disositivos</h4>
                </div>
            </a>

            <a href="/Usuarios.html" >
                <div class="option">
                    <i class="fa-solid fa-cloud"></i>
                    <h4>Usuarios</h4>
                </div>
            </a>
            
            <a href="/Prestamos.html" >
                <div class="option">
                    <i class="fa-solid fa-database"></i>
                    <h4>Prestamos</h4>
                </div>
            </a>

            <a href="/Sanciones.html" class="selected">
                <div class="option">
                    <i class="fa-solid fa-code"></i>
                    <h4>Sanciones</h4>
                </div>
            </a>

            <a href="#">
                <div class="option">
                    <i class="fa-solid fa-users"></i>
                    <h4>Contacto</h4>
                </div>
            </a>

            <a href="#">
                <div class="option">
                    <i class="fa-solid fa-arrows-rotate"></i>
                    <h4>Nosotros</h4>
                </div>
            </a>

            <a href="#">
                <div class="option">
                    <i class="fa-solid fa-plus"></i>
                    <h4>Nosotros</h4>
                </div>
            </a>

        </div>

    </div>

    <section class="cont">

        <div class="contenedor1">
            <h1>Lista de saciones</h1>
        </div>
        
        <div class="contenedor2">
            
            <div>
                <table id="tabla1">
                    <thead>
                        <tr>
                            <th>ID del prestamo</th>
                            <th>ID Sancion</th>
                            <th>Hora</th>
                            <th>Tiempo sancionado</th>
                            <th>Descripcion</th>
                            <th>Fecha</th>
                        </tr>
                    </thead>
                    <tbody id="tabla1-body"></tbody>
                </table>
            </div>
        </div>

        <div class="contenedor3">
            <h1>Insertar Sancion</h1>

            <form action="" id="formulario">
                <div class="mb-3">
                    <input type="text" class="form-control" id="san_Hora" name="Hora" placeholder="Hora">
                </div>
                <div class="mb-3">
                    <input type="number" class="form-control" id="san_tiempo" name="Tiempo" placeholder="Tiempo">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="san_Descripcion" name="Descripcion" placeholder="Descripcion">
                </div>
                <div class="mb-3">
                    <input type="date" class="form-control" id="san_Fecha" name="Fecha" placeholder="Fecha">
                </div>
                <div class="mb-3">
                    <button type="button" id="AgregarSancion" class="btn btn-primary w-100 fs-5 mb-3">Insertar Sancion</button>
                </div>
            </form>
            
        </div>
        <div class="contenedor4">
            <h1>Actualizar Sancion</h1>

            <form id="formulario-actualizar">
                
                <div class="mb-3">
                    <input type="number" class="form-control" id="pres_Id" name="equi_id_actualizar" placeholder="ID">
                </div>
                <div class="mb-3">
                    <input type="number" class="form-control" id="san_Pres_Id" name="ID Prestamo" placeholder="Id prestamo">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="san_Hora" name="hora" placeholder="Hora">
                </div>
                <div class="mb-3">
                    <input type="number" class="form-control" id="san_tiempo" name="Tiempo" placeholder="Tiempo">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="san_Descripcion" name="Descripcion" placeholder="Descripcion">
                </div>
                <div class="mb-3">
                    <input type="date" class="form-control" id="san_Fecha" name="san_Fecha" placeholder="Fecha">
                </div>
                <div class="mb-3">
                    <button type="button" id="ActualizarSancion" class="btn btn-primary w-100 fs-5 mb-3">Actualizar Sancion</button>
                </div>
            </form>

        </div>
        <div class="contenedor5">
            <h1>Buscar Sancion</h1>
            <label for=""><input type="text" id="id_Sancioon" name="id_Sancioon" placeholder="ID de la sancion"></label>
            <button type="button" id="BuscarSancion" class="btn btn-danger w-100 fs-5 mb-3">Buscar Sancion</button>
        </div>

        <div class="contenedor6">
            <h1>Eliminar Sancion</h1>
            <label for=""><input type="text" id="pres_Idd" name="pres_Idd" placeholder="pres_Idd"></label>
            <button type="button" id="EliminarSancion" class="btn btn-danger w-100 fs-5 mb-3">Eliminar Sancion</button>
        </div>
        

    </section>


    <script src="js/script.js"></script>
    <script src="/js/Metodos-Sanciones.js"></script>
</body>





